.main-header {
	position: relative;
	z-index: 4;
}

.main-header__holder {
	background-color: #851216;
	-webkit-border-radius: 45px;
	border-radius: 45px;
}

.main-header__row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 5px;
}

.main-header__block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
}

.main-header__logo {
	display: inline-block;
	margin-bottom: 18px;
}

.main-header__logo img {
	display: block;
}

.main-header__icon {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 -9px;
	padding-right: 15px;
}

.main-header__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 8px;
	margin-bottom: 18px;
}

.main-header__col {
	margin-right: 15px;
}

.main-header__col i {
	font-size: 20px;
	color: #ffffff;
}

.main-header__data {
	font-size: 24px;
	line-height: 1;
	color: #ffffff;
	font-weight: bold;
}

.main-header__info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.main-header__language {
	margin-right: 14px;
	margin-bottom: 18px;
}

.main-header__sign {
	font: inherit;
	font-size: 16px;
	line-height: 1.5;
	color: #851216;
	text-transform: uppercase;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-color: #ffffff;
	border: 1px solid #fff;
	padding: 8px 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 18px;
	-webkit-transition: 0.3s background-color, 0.3s color;
	-o-transition: 0.3s background-color, 0.3s color;
	transition: 0.3s background-color, 0.3s color;
}

.main-header__sign:hover {
	background-color: #851216;
	color: #fff;
}

.main-header__box {
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 45px;
	border-radius: 45px;
	padding: 10px 0;
}

.main-header__box--active {
	-webkit-border-radius: 45px 45px 0 0;
	border-radius: 45px 45px 0 0;
}

.main-header__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
}

.main-header__description {
	font-size: 16px;
	line-height: 1.5;
	color: #111111;
	text-transform: uppercase;
}

.main-header__list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 5px;
}

.main-header__link {
	display: block;
	font-size: 16px;
	line-height: 1.5;
	color: #111111;
	text-transform: uppercase;
	padding: 0 15px;
}

.main-header__link:hover {
	text-shadow: 0px 0.5px 0px #111111, 0.5px 0px 0px #111111, 0px -0.5px 0px #111111, -0.5px 0px 0px #111111;
}

.main-header__link--active {
	text-shadow: 0px 0.5px 0px #111111, 0.5px 0px 0px #111111, 0px -0.5px 0px #111111, -0.5px 0px 0px #111111;
}

.main-header__user {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-left: auto;
	width: 100%;
}

.main-header__social {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 -9px;
	padding-right: 15px;
}

.main-header__elem {
	display: block;
	margin: 0 9px;
}

.main-header__elem i {
	display: block;
	font-size: 25px;
	color: #851216;
	-webkit-transition: 0.3s color;
	-o-transition: 0.3s color;
	transition: 0.3s color;
}

.main-header__elem i:hover {
	color: #b5191f;
}

.main-header__content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: -3px;
}

.main-header__button {
	margin-top: 4px;
}

.main-header__button button {
	cursor: pointer;
	width: 20px;
	height: 20px;
	outline: none;
	background-color: #fff;
	border: none;
	background-image: url(img/icons/search.svg);
	background-repeat: no-repeat;
	margin: 4px 0;
}

.main-header__search {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 10px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s opacity, 0.3s visibility;
	-o-transition: 0.3s opacity, 0.3s visibility;
	transition: 0.3s opacity, 0.3s visibility;
}

.main-header__search-active {
	opacity: 1;
	visibility: visible;
}

.main-header__search-wrap {
	position: relative;
	width: 100%;
	max-width: 400px;
	margin-left: auto;
}

.main-header__search-wrap input {
	width: 100%;
	border: 1px solid #831216;
	outline: none;
	padding: 7px 40px 7px 15px;
}

.main-header__search-btn {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 40px;
	height: 100%;
	border: 0;
	outline: none;
	background-color: transparent;
	background-image: url(img/icons/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 20px 20px;
	background-size: 20px;
	cursor: pointer;
}

.language-chooser {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.language-chooser li {
	font-size: 14px;
	line-height: 2;
	padding: 0px 10px;
	text-transform: uppercase;
	font-family: Montserrat-Regular, sans-serif;
}

.language-chooser li:last-child {
	padding-right: 0px;
}

.language-chooser li:first-child {
	padding-left: 0px;
}

.language-chooser li:not(:last-child) {
	position: relative;
}

.language-chooser li:not(:last-child):after {
	position: absolute;
	content: '|';
	color: #fff;
	top: 0px;
	right: 0px;
}

.language-chooser li a {
	color: #fff;
}

.language-chooser li a:hover {
	text-decoration: underline;
}

.language-chooser li.active a {
	color: #fff;
	font-weight: 900;
}

.language-chooser li.active a:hover {
	text-decoration: none;
}

.mobile-wrap {
	display: none;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	cursor: pointer;
	border-top: 1px solid #831216;
}

.line-burger {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 3px;
	background-color: #0a3c40;
	-webkit-transition: 0.5s width;
	-o-transition: 0.5s width;
	transition: 0.5s width;
}

.line-burger:after,
.line-burger:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #0a3c40;
	left: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.line-burger:after {
	top: -webkit-calc(100% + 5px);
	top: calc(100% + 5px);
}

.line-burger:before {
	bottom: -webkit-calc(100% + 5px);
	bottom: calc(100% + 5px);
}

.line-active {
	width: 0;
}

.line-active:after {
	top: 9px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.line-active:before {
	bottom: 9px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.main-nav__toggle {
	position: relative;
	cursor: pointer;
	display: none;
	width: 25px;
	height: 25px;
	margin-top: -5px;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

@media screen and (max-width: 1199px) {

.main-header__data {
	font-size: 21px;
}

}

@media screen and (max-width: 1150px) {

.main-header__row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.main-header__block {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

}

@media screen and (max-width: 960px) {

.main-header__icon {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.main-header__sign {
	padding: 8px 10px;
}

}

@media screen and (max-width: 840px) {

.main-header__box {
	overflow: hidden;
	padding: 0;
}

.main-header__wrap {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.main-header__list {
	display: none;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 5;
	position: absolute;
	padding-left: 0px;
	padding-bottom: 5px;
	max-height: -webkit-calc(100vh - 70px);
	max-height: calc(100vh - 70px);
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	-webkit-border-radius: 0 0 45px 45px;
	border-radius: 0 0 45px 45px;
	-webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2), 2px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2), 2px 1px 2px rgba(0, 0, 0, 0.2);
}

.main-header__link {
	padding: 0 30px;
	padding-bottom: 8px;
}

.main-header__menu {
	width: 100%;
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}

.main-header__social {
	margin: 0px;
}

.main-header__content {
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
	margin: 0px;
	width: 100%;
	padding-right: 20px;
}

.main-header__button {
	display: none;
}

.main-header__search {
	position: static;
	opacity: 1;
	visibility: visible;
	background-color: #fff;
	padding-right: 0px;
}

.main-header__search-wrap {
	max-width: 100%;
}

.main-header__search-wrap input {
	padding: 10.5px 0px 10.5px 20px;
	border: 0;
}

.main-header__search-btn {
	width: 30px;
	background-position: right center;
}

.mobile-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	width: 100%;
	padding: 7px 20px;
	padding-bottom: 8px;
}

.main-nav__toggle {
	display: block;
}

}

@media screen and (max-width: 780px) {

.main-header__block {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.main-header__icon {
	margin: 0px;
	padding-right: 0px;
}

.main-header__info {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

}

@media screen and (max-width: 560px) {

.main-header__language {
	margin-right: 8px;
}

.main-header__sign {
	font-size: 15px;
	padding: 8px 5px;
}

}

